argilla==1.25.0
schedule==1.2.1
pandas==1.5.3
tqdm==4.66.1
prodict==0.8.18
langchain==0.1.9
openai==0.28.0
tiktoken==0.5.1
easydict==1.11
wandb==0.16.0
transformers==4.35.2
scikit-learn==1.3.2
faiss-cpu==1.7.4
sentence-transformers==2.2.2
langchain-google-genai==0.0.9
pillow==10.2.0
